body {
    background-color: #010A1B;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1 {
    margin-bottom: 0px;
}

.contactform {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    padding: 15px 30px;
    width: 50%;
    background-color: #bdcce4;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 10px;
}

.contact input {
    margin: 0px 10px;
    margin-bottom: 15px;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
}

.contact button {
    background-color: #012966;
    border-radius: 10px;
    height: 30px;
    width: 20%;
    margin: 10px;
    color: white;
    align-self: center;
}

label {
    color: black;
    margin-left: 15px;
}